@import './base.css';

#app {
	margin: 0 auto;
}

h1 {
	font-size: 32px;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
	font-family: var(--ff-primary);
	font-weight: var(--fw-bold);
	color: #fff;
}

input {
	border: none;
	background-color: var(--tertiary-color-light);
	color: var(--f-secondary-color);
	font-family: var(--ff-secondary);
	font-weight: var(--fw-regular);
	font-size: var(--fs-input);
	outline: none;
}

input::placeholder {
	color: var(--tertiary-color-dark);
}
